.kyc-container {
    display: flex;
    border-radius: 10px;
    box-shadow: var(--container-shadow);
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
}

.left-kyc-container{
    width: 60%;
    padding: 30px;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.candidate-image {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.right-kyc-container {
    background-color: var(--blue);
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-kyc-container > div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.right-kyc-container p, .right-kyc-container h5{
    margin: 0;
}

.candidate-symbol{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}