nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 500;
    background-color: var(--grey);
}

.nav-left-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: auto;
}

.nav-right-container {
    display: flex;
    align-items: center;
    gap: 15px;
}