.icard {
    height: 300px;
    width: 53%;
    background-color: grey;
    border-radius: 10px;
}

.right-homepage-container h1 {
    color: var(--blue);
}

.voter-content {
    box-shadow: var(--container-shadow);
    border-radius: 10px;
    padding: 5%;
    height: 750px;
}

#download-button{
    width: 53%;
}

/* Media Queries */
@media (max-width: 1000px) {
    .icard{
        width: 100%;
    }

    #download-button{
        width: 100%;
    }
}