/* NAVBAR */
nav{
  background-color: var(--grey);
  display: flex;
  align-items: center;
  font-weight: 500;
  flex-wrap: wrap;
}

.nav-left-container{
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-right-container{
  display: flex;
  gap: 15px;
  align-items: center;
}

/* LANDING PAGE */
.landing-page-introduction{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 50px;
  flex-wrap: wrap-reverse;
}

.introduction-heading{
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.6;
  color: var(--blue);
}

.introduction-subheading{
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 0.6;
}

.introduction-image{
  width: 320px;
}

.user-section-container{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.user-section{
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--container-shadow);
  padding: 30px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.user-section > * {
  width: 100%;
}

.user-section > h1{
  color: var(--blue);
  font-weight: 700;
}