:root{
  --grey: #F7F9F9;
  --blue: #0197E9;
}

body{
  background-color: var(--grey);
}

.padding-10{
  padding-left: 10%;
  padding-right: 10%;
}

.btn-blue{
  background-color:var(--blue);
  border-radius: 5px;
  height: 40px;
  color: white;
}

.btn-outline-blue{
  background-color: inherit;
  border: 2px solid var(--blue);
  border-radius: 5px;
  height: 40px;
}

.btn-outline-blue:hover{
  border: 2px solid var(--blue);
}

.btn-blue:hover{
  background-color: var(--blue);
  color: white;
}