@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
  --grey: #F7F9F9;
  --blue: #0197E9;
}

body{
  background-color: var(--grey);
  font-family: "Nunito", sans-serif;
}

.font-nunito{
  font-family: "Nunito", sans-serif;
}

.font-mont{
  font-family: "Montserrat", sans-serif;
}

.padding-10{
  padding-left: 10%;
  padding-right: 10%;
}

.btn-blue{
  background-color:var(--blue);
  border-radius: 5px;
  height: 40px;
  color: white;
  font-weight: 500;
}

.btn-outline-blue{
  background-color: inherit;
  border: 2px solid var(--blue);
  border-radius: 5px;
  height: 40px;
  font-weight: 500;
}

.btn-outline-blue:hover{
  border: 2px solid var(--blue);
}

.btn-blue:hover{
  background-color: var(--blue);
  color: white;
}

.nav-heading{
  font-size: 1.5rem;
  font-weight: 600;
}